{% extends "layout.html" %}

{% block title %}
    Increase Funding
{% endblock %}

{% block main %}
    
    <table>
        <tr><h3>Increase Funding</h3></tr>
        <br>
        <tr><h4>You currently have <span class="green">${{ "{:.2f}".format(cash) }}</span> to spend.</h4></tr>
        <br>
        <tr>
            <form action="{{ url_for('addFunds') }}" method="post" id="addFunding">
                <fieldset>
                    <div class="form-group">
                        <select name="amount" form="addFunding">
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="3000">3000</option>
                            <option value="5000">5000</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Add Funds</button>
                    </div>
                </fieldset>
            </form>
        </tr>
    </table>
{% endblock %}
